# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore everything in components
src/components/*

# Allow these folders
!src/components/common/
!src/components/hero/

# Ignore everything inside them
src/components/common/*
src/components/hero/*

# Allow specific files
!src/components/common/Navbar.jsx
!src/components/hero/HeroSection.jsx